Source: ucarp-mvip
Maintainer: Tero Kantonen <prkele@gmail.com>
Section: net
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8)
Homepage: https://github.com/teroka/ucarp-mvip

Package: ucarp-mvip
Architecture: all
Depends: ${misc:Depends}, ucarp
Description: Adds CentOS like multiple vip configuration options for ucarp
  Default Debian ucarp package doesn't support additional vip's in the same 
  interface unless manually hacked in. This will remedy that, and you can 
  set them in /etc/ucarp-mvip/.

